@font-face {
  font-family: "iconfont"; /* Project id 2665699 */
  src: url('iconfont.woff2?t=1627542304086') format('woff2'),
       url('iconfont.woff?t=1627542304086') format('woff'),
       url('iconfont.ttf?t=1627542304086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  color: #33E6FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dj-icon-yinfu1:before {
  content: "\e63f";
}

.dj-icon-yonghu:before {
  content: "\e6c8";
}

.dj-icon-gedan:before {
  content: "\e616";
}

.dj-icon-zhuanji:before {
  content: "\e6b5";
}

.dj-icon-jiaoyin:before {
  content: "\e600";
}

.dj-icon-resou:before {
  content: "\e625";
}

.dj-icon-weishoucang:before {
  content: "\e617";
}

.dj-icon-nan:before {
  content: "\e621";
}

.dj-icon-nv:before {
  content: "\e622";
}

.dj-icon-v2:before {
  content: "\e619";
}

.dj-icon-v3:before {
  content: "\e61a";
}

.dj-icon-v1:before {
  content: "\e61b";
}

.dj-icon-v4:before {
  content: "\e61c";
}

.dj-icon-v7:before {
  content: "\e61d";
}

.dj-icon-v9:before {
  content: "\e61e";
}

.dj-icon-v5:before {
  content: "\e61f";
}

.dj-icon-v6:before {
  content: "\e620";
}

.dj-icon-v8:before {
  content: "\e623";
}

.dj-icon-v10:before {
  content: "\e624";
}

.dj-icon-yundong:before {
  content: "\e807";
}

.dj-icon-yuyan:before {
  content: "\e765";
}

.dj-icon-qinggan:before {
  content: "\e628";
}

.dj-icon-changjing:before {
  content: "\e65c";
}

.dj-icon-zhuti:before {
  content: "\e638";
}

.dj-icon-MV:before {
  content: "\e62c";
}

.dj-icon-fabu:before {
  content: "\e693";
}

.dj-icon-yishoucang:before {
  content: "\e69b";
}

.dj-icon-zan:before {
  content: "\e6a5";
}

.dj-icon-huiyuan:before {
  content: "\e65d";
}

.dj-icon-geci:before {
  content: "\e72a";
}

.dj-icon-baocun:before {
  content: "\e601";
}

.dj-icon-guanbi:before {
  content: "\e602";
}

.dj-icon-bianji:before {
  content: "\e603";
}

.dj-icon-shanchu:before {
  content: "\e604";
}

.dj-icon-erji:before {
  content: "\e605";
}

.dj-icon-pinglun:before {
  content: "\e606";
}

.dj-icon-tianjia:before {
  content: "\e607";
}

.dj-icon-sousuo:before {
  content: "\e608";
}

.dj-icon-dianzan:before {
  content: "\e609";
}

.dj-icon-shezhi:before {
  content: "\e60a";
}

.dj-icon-zhuanfa:before {
  content: "\e60b";
}

.dj-icon-lishi:before {
  content: "\e60c";
}

.dj-icon-wengao:before {
  content: "\e60d";
}

.dj-icon-yinfu:before {
  content: "\e60e";
}

.dj-icon-shangchuan:before {
  content: "\e60f";
}

.dj-icon-yinliang:before {
  content: "\e610";
}

.dj-icon-dagou:before {
  content: "\e611";
}

.dj-icon-dingwei:before {
  content: "\e612";
}

.dj-icon-shoucang:before {
  content: "\e613";
}

.dj-icon-xiazai:before {
  content: "\e614";
}

.dj-icon-yuedu:before {
  content: "\e615";
}

.dj-icon-jingyin:before {
  content: "\e63e";
}

.dj-icon-zanting:before {
  content: "\e6bb";
}

.dj-icon-bofang:before {
  content: "\e68f";
}

.dj-icon-gengduo:before {
  content: "\e690";
}

.dj-icon-shangyiqu:before {
  content: "\e691";
}

.dj-icon-xiayiqu:before {
  content: "\e692";
}

.dj-icon-diantai:before {
  content: "\e694";
}

.dj-icon-suijibofang:before {
  content: "\e6a0";
}

.dj-icon-danquxunhuan:before {
  content: "\e6a2";
}

.dj-icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.dj-icon-bofangmv:before {
  content: "\e6a4";
}

.dj-icon-bofangduilie:before {
  content: "\e729";
}

