* {
	margin: 0;
	padding: 0;
	/* 禁止选中 */
	-webkit-touch-callout:none; /*系统默认菜单被禁用*/
	-webkit-user-select:none; /*webkit浏览器*/
	-khtml-user-select:none; /*早期浏览器*/
	-moz-user-select:none;/*火狐*/
	-ms-user-select:none; /*IE10*/
	user-select:none; 
}
input{ 
 -webkit-user-select:auto; /*webkit浏览器*/ 
}
textarea{
 -webkit-user-select:auto; /*webkit浏览器*/
}

.container {
	padding: 0 !important;
	background-color: rgba(255, 255, 255, 0.6);
}

.el-drawer__header>:first-child {
	flex: 0 !important;
}

/* 返回顶部 */
.el-backtop {
	background: none !important;
	box-shadow: none !important;
	right: 9% !important;
}

/* 返回顶部移动端 */
@media screen and (max-width: 1199px) {
	.el-backtop {
		right: 13% !important;
	}
}

@media screen and (max-width: 992px) {
	.el-backtop {
		right: 16% !important;
	}
}

@media screen and (max-width: 768px) {
	.el-backtop {
		right: 19% !important;
	}
}

@media screen and (max-width: 576px) {
	.el-backtop {
		right: 3% !important;
		bottom: 100px!important;
	}
}

/* 登录输入框 */
.el-input__inner {
	padding-left: 10% !important;
}

.el-button--primary {
	margin-top: 5% !important;
}

/* 饿了么表格是否播放渲染播放样式 */
.isplay {
	transition: .3s;
	color: red;
	background-color: #ecf5ff !important;
}

.isplay td div i:nth-of-type(1) {
	color: red;
}

/* 饿了么进度条默认样式 */
.el-slider__runway {
	height: 5px !important;
}

.el-slider__button {
	width: 12px !important;
	height: 12px !important;
	border: 2px solid #66e3ff !important;
}

.el-slider__bar {
	height: 5px !important;
	background-color: #66e3ff !important;
}

/* 饿了么弹框 */
.descBox {
	height: auto;
	overflow: scroll;
}
@media screen and (max-width: 576px) {
	.descBox {
		width: 70%;
	}
}

.descBox::-webkit-scrollbar {
	width: 0;
	height: 4px;
}

/* 饿了么弹窗 */
.mylike {
	list-style: none;
	display: flex;
	margin-bottom: 15px;
	cursor: pointer;
}

.mylike .author {
	width: 50px;
	height: 50px;
	border-radius: 3px;
	margin-right: 15px;
}

.mylike .author img {
	width: 100%;
	border-radius: 3px;
}

.mylike .info {
	height: 50px;
	font-size: 14px;
	text-align: left;
	margin-top: 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mylike .info h2 {
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mylike:hover{
	background: #f2f2f2;
}

/* 饿了么懒加载图标 */
.el-table td div {
	line-height: 4;
}

/* 动画 */
/* 淡入淡出 */
.fade-enter-active,
.fade-leave-active,
/* 滑动 */
.slide-enter-active,
.slide-leave-active {
	transition: .5s;
}

.fade-enter {
	opacity: 0;
	transform: translate3d(0, 30px, 0);
}

.fade-leave-to {
	opacity: 0;
	transform: translate3d(0, 30px, 0);
}

.slide-enter {
	opacity: 0;
	transform: translate3d(-100%, 100%, 0);
}

.slide-leave-to {
	opacity: 0;
	transform: translate3d(-100%, 100%, 0);
}


/* 歌手页性别图标 */
.nv {
	color: #ff557f !important;
}

.nan {
	color: #00aaff !important;
}

/* 歌手页播放全部 */
.singerdetailbox .playall {
	width: 95%;
}

/* 个人主页歌单列表 */
@media screen and (max-width: 1200px) {
	.personalpagebox .right .gendanlist .two {
		flex: 0 0 30%;
		min-width: 30%;
	}
}

@media screen and (max-width: 576px) {
	.personalpagebox .right .gendanlist .two {
		flex: 0 0 35%;
		min-width: 35%;
	}
}

@media screen and (max-width: 476px) {
	.personalpagebox .right .gendanlist .two {
		flex: 0 0 50%;
		min-width: 50%;
	}
}

/* 歌手页导航 */
.singerdetailbox .el-tabs--card>.el-tabs__header {
	border-bottom: none;
}

.singerdetailbox .el-tabs--card>.el-tabs__header .el-tabs__nav {
	border: none;
}

.singerdetailbox .el-tabs__item {
	color: #2a2a2a;
	font-weight: 600;
}

.singerdetailbox .el-tabs--card>.el-tabs__header .el-tabs__item {
	border-left: none;
}

/* 个人主页歌曲列表 */
.personalpagebox .left .el-table {
	width: 100% !important;
}
/* 歌单歌曲列表 */
.playlistdetailbox .left .el-table {
	width: 100% !important;
	margin: 0 !important;
}

/* 歌曲列表响应 */
@media screen and (max-width: 1400px) {
	.ismob,col[name=el-table_1_column_5] {
		display: none;
	}
	col[name=el-table_1_column_2]{
		width: 300px;
	}
	.el-table__header,.el-table__body {
		width: 100%!important;
	}
}
@media screen  and (max-width: 1200px){
	col[name=el-table_1_column_2] {
		width: 200px;
	}
	col[name=el-table_1_column_3],col[name=el-table_1_column_4] {
		width: 100px;
	}
}
@media screen and (max-width: 490px) {
	.ismob-xs,col[name=el-table_1_column_1] {
		display: none;
	}
}
@media screen and (max-width: 430px) {
	.ismob-xss,col[name=el-table_1_column_4] {
		display: none;
	}
}